body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

content {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

div {
  display: block;
}

.title {
  background: rgb(235, 48, 48);
  color: white;
  width: auto;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.item {
  width: 200px;
  height: 420px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item img {
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.item-details {
  text-align: right;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  font-size: 20px;
  
}

.price-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  border: 1px solid darkgray;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.current-price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.discount {
  background-color: rgb(235, 48, 48);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid darkgray;
}

.discount span {
  font-size: 18px;
}

.contacts p {
  margin: 3px;
}

.contacts p:first-child {
  font-weight: bold;
}

.contacts p:last-child {
  border-left: 3px solid rgb(235, 48, 48);
  padding-left: 5px;
}

.license {
  font-size: 9px;
  text-align: justify;
  color: rgb(120, 120, 120);
}

.item img {
  width: 170px;
  height: auto;
  margin: 10px 0;
}